
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=a25d8bb8e92035b0370cee5561a1e4ea
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress