
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=55280fa449dbf5a1174f9eb553ab0411
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress